Repository sipemu/fdars: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, r

Set R package version to 0.1.0
  fdars-r/DESCRIPTION
Due: r

Fix pkgdown reference to renamed functions
  fdars-r/_pkgdown.yml
Due: r

Fix misleading B-spline vs Fourier comparison plot in vignette
  fdars-r/vignettes/basis-representation.Rmd
Due: r

Add robustness challenges section and fix PHV simulation
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/vignettes/working-with-derivatives.Rmd
Due: r

Regenerate seasonality detection report PDF
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
Due: r

Add robustness tests and ML training data generator
  fdars-r/scripts/seasonal_simulation/generate_training_data.R
  fdars-r/scripts/seasonal_simulation/plots/robustness_amplitude_modulation.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_outliers.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_red_noise_fpr.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_results.RData
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/scripts/seasonal_simulation/seasonality_robustness_tests.R
Due: r

Add example time series plots for each robustness scenario
  fdars-r/scripts/seasonal_simulation/plots/example_amplitude_modulation.pdf
  fdars-r/scripts/seasonal_simulation/plots/example_multi_seasonal.pdf
  fdars-r/scripts/seasonal_simulation/plots/example_outliers.pdf
  fdars-r/scripts/seasonal_simulation/plots/example_red_noise.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Standardize robustness analysis report format
  fdars-r/scripts/seasonal_simulation/plots/robustness_amplitude_modulation.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_multi_seasonal.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_outliers.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_red_noise_fpr.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/scripts/seasonal_simulation/seasonality_robustness_tests.R
Due: r

Add robustness summary to executive summary, update date
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Add example time series plots for Simulations 1-3
  fdars-r/scripts/seasonal_simulation/generate_example_plots.R
  fdars-r/scripts/seasonal_simulation/plots/example_sim1_seasonal_strength.pdf
  fdars-r/scripts/seasonal_simulation/plots/example_sim2_nonlinear_trend.pdf
  fdars-r/scripts/seasonal_simulation/plots/example_sim3_trend_types.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Add wavelet-based seasonality detection method
  fdars-core/src/seasonal.rs
  fdars-r/NAMESPACE
  fdars-r/R/seasonal.R
  fdars-r/scripts/seasonal_simulation/plots/robustness_amplitude_modulation.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_multi_seasonal.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_outliers.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_red_noise_fpr.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_results.RData
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_details.pdf
  fdars-r/scripts/seasonal_simulation/plots/wavelet_verification_amplitudes.pdf
  fdars-r/scripts/seasonal_simulation/plots/wavelet_verification_signals.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_comparison.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/scripts/seasonal_simulation/seasonality_robustness_tests.R
  fdars-r/scripts/seasonal_simulation/verify_wavelet_implementation.R
  fdars-r/src/rust/src/lib.rs
Due: rust, r

Fix Clippy lints
  fdars-core/src/fdata.rs
  fdars-core/src/seasonal.rs
Due: rust

Apply cargo fmt
  fdars-core/src/fdata.rs
  fdars-core/src/seasonal.rs
  fdars-core/src/simulation.rs
Due: rust

Add detect_amplitude_modulation to pkgdown reference
  fdars-r/_pkgdown.yml
Due: r

Fix function names in vignettes to use dot notation
  fdars-r/vignettes/covariance-functions.Rmd
  fdars-r/vignettes/seasonal-analysis.Rmd
  fdars-r/vignettes/simulation-toolbox.Rmd
Due: r

Fix field accessor in seasonal-analysis vignette
  fdars-r/vignettes/seasonal-analysis.Rmd
Due: r

Refactor seasonal analysis code and remove duplication
  fdars-core/src/lib.rs
  fdars-core/src/seasonal.rs
  fdars-r/src/rust/src/lib.rs
  fdars-r/tests/testthat/test-seasonal.R
Due: rust, r

Deploying to gh-pages from @ sipemu/fdars@0c4c3681ed6c732484b3dbb997063ed54a57f734 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Improve test coverage for Rust core (84%+) and R package (80%+)
  fdars-core/src/detrend.rs
  fdars-core/src/fdata.rs
  fdars-core/src/irreg_fdata.rs
  fdars-core/src/simulation.rs
  fdars-r/tests/testthat/test-basis.R
  fdars-r/tests/testthat/test-irregFdata.R
  fdars-r/tests/testthat/test-seasonal.R
  fdars-r/tests/testthat/test-validation-clustering.R
  fdars-r/tests/testthat/test-validation-depth.R
  fdars-r/tests/testthat/test-validation-fdata.R
  fdars-r/tests/testthat/test-validation-metric.R
Due: rust, r

Deploying to gh-pages from @ sipemu/fdars@35647706f7e2f02c0a18259c48146e638fc5b9b2 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Add pre-commit hooks for cargo fmt and clippy
  fdars-core/src/detrend.rs
  fdars-core/src/fdata.rs
  fdars-core/src/irreg_fdata.rs
  fdars-core/src/lib.rs
  fdars-core/src/simulation.rs
  scripts/pre-commit
  scripts/setup-hooks.sh
Due: rust

Deploying to gh-pages from @ sipemu/fdars@f517ae0a160153200bce1b84c092fdf926991272 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Bump version to v0.2.0
  fdars-core/Cargo.toml
  fdars-r/DESCRIPTION
Due: rust, r

Prepare R package for CRAN submission
  fdars-r/.Rbuildignore
  fdars-r/DESCRIPTION
  fdars-r/NEWS.md
  fdars-r/R/fdata.R
  fdars-r/R/irregFdata.R
  fdars-r/README.md
  fdars-r/configure
  fdars-r/configure.win
  fdars-r/cran-comments.md
  fdars-r/src/rust/Cargo.toml
Due: r

Update maintainer email address
  fdars-r/DESCRIPTION
Due: r

Deploying to gh-pages from @ sipemu/fdars@a9d87e6f0949054016512f797efae5ed4959b88e 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/fdars-package.html
  reference/fdars-package.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Add SAZED, Autoperiod, and CFDAutoperiod period detection methods
  fdars-core/Cargo.toml
  fdars-core/benches/seasonal_benchmarks.rs
  fdars-core/src/lib.rs
  fdars-core/src/seasonal.rs
  fdars-r/NAMESPACE
  fdars-r/R/seasonal.R
  fdars-r/scripts/seasonal_simulation/plots/example_sim1_seasonal_strength.pdf
  fdars-r/scripts/seasonal_simulation/plots/example_sim2_nonlinear_trend.pdf
  fdars-r/scripts/seasonal_simulation/plots/example_sim3_trend_types.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_amplitude_modulation.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_multi_seasonal.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_outliers.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_red_noise_fpr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonal_basis_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_details.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_heatmaps.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_pr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_examples.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_f1.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_fpr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_heatmap.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_comparison.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/src/rust/Cargo.toml
  fdars-r/src/rust/src/lib.rs
Due: rust, r

Optimize SAZED algorithm to reduce false positive rate
  fdars-core/src/seasonal.rs
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_details.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_comparison.R
  fdars-r/src/rust/src/lib.rs
Due: rust, r

Make fdars-core WASM compatible
  .github/workflows/ci.yml
  fdars-core/Cargo.toml
  fdars-core/src/basis.rs
  fdars-core/src/clustering.rs
  fdars-core/src/depth.rs
  fdars-core/src/detrend.rs
  fdars-core/src/fdata.rs
  fdars-core/src/irreg_fdata.rs
  fdars-core/src/lib.rs
  fdars-core/src/metric.rs
  fdars-core/src/outliers.rs
  fdars-core/src/parallel.rs
  fdars-core/src/regression.rs
  fdars-core/src/seasonal.rs
  fdars-core/src/simulation.rs
  fdars-core/src/smoothing.rs
  fdars-core/src/utility.rs
Due: rust

Prepare fdars-core v0.2.0 release
  .github/workflows/ci.yml
  .github/workflows/rust-ci.yml
  fdars-core/CHANGELOG.md
  fdars-core/README.md
Due: rust

Bump fdars-core to v0.3.0
  fdars-core/CHANGELOG.md
  fdars-core/Cargo.toml
  fdars-core/README.md
Due: rust

Fix pkgdown: add missing seasonal functions to reference index
  fdars-r/_pkgdown.yml
Due: r

Deploying to gh-pages from @ sipemu/fdars@2e0cba600c15ef6b003881f38ccc8f90e00b7849 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  llms.txt
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/autoperiod.html
  reference/autoperiod.md
  reference/autoplot.fdata-1.png
  reference/autoplot.fdata-2.png
  reference/autoplot.fdata-3.png
  reference/cfd.autoperiod.html
  reference/cfd.autoperiod.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/detect.period.html
  reference/detect.period.md
  reference/detect.seasonality.changes.auto.html
  reference/detect.seasonality.changes.auto.md
  reference/detect.seasonality.changes.html
  reference/detect.seasonality.changes.md
  reference/estimate.period.html
  reference/estimate.period.md
  reference/index.html
  reference/index.md
  reference/sazed.html
  reference/sazed.md
  reference/seasonal.strength.html
  reference/seasonal.strength.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
  sitemap.xml
Due: none

Regenerate seasonal simulation plots and report
  fdars-r/scripts/seasonal_simulation/plots/example_sim1_seasonal_strength.pdf
  fdars-r/scripts/seasonal_simulation/plots/example_sim2_nonlinear_trend.pdf
  fdars-r/scripts/seasonal_simulation/plots/example_sim3_trend_types.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_amplitude_modulation.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_multi_seasonal.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_outliers.pdf
  fdars-r/scripts/seasonal_simulation/plots/robustness_red_noise_fpr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonal_basis_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_details.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_heatmaps.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_pr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_examples.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_f1.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_fpr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_heatmap.pdf
  fdars-r/scripts/seasonal_simulation/plots/wavelet_verification_amplitudes.pdf
  fdars-r/scripts/seasonal_simulation/plots/wavelet_verification_signals.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Update seasonal simulation README with all 9 detection methods
  fdars-r/scripts/seasonal_simulation/README.md
Due: r

Deploying to gh-pages from @ sipemu/fdars@506834f028368d95ca82823d932329adcf45fbc6 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Path conditions:
  rust: any of: fdars-core/
  python: any of: fdars-py/
  r: any of: fdars-r/
