Repository sipemu/fdars: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, r

Add 4 new periodicity methods and scientific rigor enhancements
  fdars-core/src/detrend.rs
  fdars-core/src/seasonal.rs
  fdars-r/R/seasonal.R
  fdars-r/scripts/seasonal_simulation/benchmark_real_datasets.R
  fdars-r/scripts/seasonal_simulation/roc_pr_analysis.R
  fdars-r/scripts/seasonal_simulation/sazed_ablation_study.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/scripts/seasonal_simulation/statistical_significance_tests.R
  fdars-r/scripts/seasonal_simulation/timing_analysis.R
  fdars-r/src/rust/src/lib.rs
Due: rust, r

Benchmark all 13 methods with McNemar tests and ROC/PR analysis
  fdars-r/NAMESPACE
  fdars-r/_pkgdown.yml
  fdars-r/scripts/seasonal_simulation/plots/mcnemar_difference_heatmap.pdf
  fdars-r/scripts/seasonal_simulation/plots/mcnemar_pvalue_heatmap.pdf
  fdars-r/scripts/seasonal_simulation/plots/operating_points.pdf
  fdars-r/scripts/seasonal_simulation/plots/pr_curves_all.pdf
  fdars-r/scripts/seasonal_simulation/plots/pr_curves_top5.pdf
  fdars-r/scripts/seasonal_simulation/plots/roc_curves_all.pdf
  fdars-r/scripts/seasonal_simulation/plots/roc_curves_top5.pdf
  fdars-r/scripts/seasonal_simulation/plots/roc_pr_combined.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_details.pdf
  fdars-r/scripts/seasonal_simulation/roc_pr_analysis.R
  fdars-r/scripts/seasonal_simulation/roc_pr_auc_summary.csv
  fdars-r/scripts/seasonal_simulation/seasonality_detection_comparison.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/scripts/seasonal_simulation/simulation_output.log
  fdars-r/scripts/seasonal_simulation/statistical_significance_summary.csv
  fdars-r/scripts/seasonal_simulation/statistical_significance_tests.R
Due: r

Deploying to gh-pages from @ sipemu/fdars@2b58e2bea4eb009b233a46fb0104aa2e93825434 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  llms.txt
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/index.html
  reference/index.md
  reference/lomb.scargle.html
  reference/lomb.scargle.md
  reference/matrix.profile-1.png
  reference/matrix.profile.html
  reference/matrix.profile.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  reference/ssa.fd-1.png
  reference/ssa.fd-2.png
  reference/ssa.fd.html
  reference/ssa.fd.md
  reference/standardize.html
  reference/standardize.md
  reference/stl.fd-1.png
  reference/stl.fd.html
  reference/stl.fd.md
  search.json
  sitemap.xml
Due: none

Refactor seasonal simulation to self-contained QMD report
  fdars-r/scripts/seasonal_simulation/roc_pr_analysis.R
  fdars-r/scripts/seasonal_simulation/roc_pr_auc_summary.csv
  fdars-r/scripts/seasonal_simulation/seasonality_detection_comparison.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_types.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_with_trend.R
  fdars-r/scripts/seasonal_simulation/simulation_output.log
  fdars-r/scripts/seasonal_simulation/statistical_significance_summary.csv
  fdars-r/scripts/seasonal_simulation/statistical_significance_tests.R
Due: r

Deploying to gh-pages from @ sipemu/fdars@7e93a669b9e80e039e5ea2ff17edb0433b3a8f89 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Fix NA values in seasonal detection report
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Fix AIC detection method - use correct basis.aic API
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@665ef38fd61b61c76cbb996a505fa1008f50ba84 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@26e45e34056a04f9d68272d1c38a02f269b4e28d 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Add publication-ready enhancements to seasonality detection report
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@669b24f5bc5725faf33ca19faed9bd7d3a18a2b3 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@aba3a3e4d0788c4a0309eb078a165df59093ec55 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@f519b81149409809b72761e5f79d45ae36b36e49 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Finalize seasonality detection report with scientific corrections
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@ec5762f0efac7eb77f89e48dfa27943d0ebad779 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Fix CRAN check issues for R package submission
  fdars-r/.Rbuildignore
  fdars-r/LICENSE
  fdars-r/NAMESPACE
  fdars-r/R/fdars-package.R
  fdars-r/R/fdata.R
  fdars-r/R/fregre.R
  fdars-r/R/seasonal.R
  fdars-r/R/simulation.R
  fdars-r/configure
  fdars-r/configure.win
  fdars-r/src/Makevars
  fdars-r/src/Makevars.win
  fdars-r/src/rust/Cargo.toml
  fdars-r/src/rust/fdars-core/CHANGELOG.md
  fdars-r/src/rust/fdars-core/Cargo.toml
  fdars-r/src/rust/fdars-core/README.md
  fdars-r/src/rust/fdars-core/benches/seasonal_benchmarks.rs
  fdars-r/src/rust/fdars-core/src/basis.rs
  fdars-r/src/rust/fdars-core/src/clustering.rs
  fdars-r/src/rust/fdars-core/src/depth.rs
  fdars-r/src/rust/fdars-core/src/detrend.rs
  fdars-r/src/rust/fdars-core/src/fdata.rs
  fdars-r/src/rust/fdars-core/src/helpers.rs
  fdars-r/src/rust/fdars-core/src/irreg_fdata.rs
  fdars-r/src/rust/fdars-core/src/lib.rs
  fdars-r/src/rust/fdars-core/src/metric.rs
  fdars-r/src/rust/fdars-core/src/outliers.rs
  fdars-r/src/rust/fdars-core/src/parallel.rs
  fdars-r/src/rust/fdars-core/src/regression.rs
  fdars-r/src/rust/fdars-core/src/seasonal.rs
  fdars-r/src/rust/fdars-core/src/simulation.rs
  fdars-r/src/rust/fdars-core/src/smoothing.rs
  fdars-r/src/rust/fdars-core/src/utility.rs
  fdars-r/src/rust/src/lib.rs
Due: r

Deploying to gh-pages from @ sipemu/fdars@d51c5f3cc41c17d1b30f668f6ab15bdebf9ab34c 🚀
  LICENSE-text.html
  LICENSE-text.md
  articles/depth-functions.html
  articles/depth-functions.md
  articles/regression.html
  articles/regression.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/detect.period.html
  reference/detect.period.md
  reference/sazed.html
  reference/sazed.md
  reference/scale_minmax.html
  reference/scale_minmax.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simFunData.html
  reference/simFunData.md
  reference/simMultiFunData-1.png
  search.json
Due: none

Rename basis functions to avoid S3 method dispatch conflicts
  fdars-r/CHANGELOG.md
  fdars-r/NAMESPACE
  fdars-r/R/basis.R
  fdars-r/_pkgdown.yml
  fdars-r/tests/testthat/test-basis.R
  fdars-r/validation/validate_basis_cv.R
  fdars-r/vignettes/basis-representation.Rmd
  fdars-r/vignettes/intro-to-smoothing.Rmd
  fdars-r/vignettes/irregular-sampling.Rmd
  fdars-r/vignettes/seasonal-analysis.Rmd
Due: r

Update cran-comments.md for CRAN submission
  fdars-r/cran-comments.md
Due: r

Deploying to gh-pages from @ sipemu/fdars@741c8dc25d9cb359686dab06165737aed0c51ee5 🚀
  CHANGELOG.html
  CHANGELOG.md
  articles/basis-representation.html
  articles/basis-representation.md
  articles/depth-functions.html
  articles/depth-functions.md
  articles/intro-to-smoothing.html
  articles/intro-to-smoothing.md
  articles/irregular-sampling.html
  articles/irregular-sampling.md
  articles/seasonal-analysis.html
  articles/seasonal-analysis.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  llms.txt
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/basis2fdata_2d.html
  reference/basis2fdata_2d.md
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/fdata2basis_2d.html
  reference/fdata2basis_2d.md
  reference/fdata2basis_cv.html
  reference/fdata2basis_cv.md
  reference/index.html
  reference/index.md
  reference/select.basis.auto.html
  reference/select.basis.auto.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
  sitemap.xml
Due: none

Deploying to gh-pages from @ sipemu/fdars@4d11141f9a0a450298a167fb31ba93d7183abae2 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Update cran-comments.md for extendr 0.8 submission
  fdars-r/cran-comments.md
Due: r

Fix faer version conflict with anofox-regression
  fdars-core/Cargo.toml
  fdars-r/src/rust/fdars-core/Cargo.toml
Due: rust, r

Remove linalg feature from R package fdars-core
  fdars-r/src/rust/fdars-core/Cargo.toml
Due: r

Add streaming/online depth computation module
  fdars-core/src/detrend.rs
  fdars-core/src/lib.rs
  fdars-core/src/streaming_depth.rs
Due: rust

Update README with link to separate R binding repository
  README.md
Due: none

Remove R-CMD-check badge and fix crate version in README
  README.md
Due: none

Add 54 tests to increase fdars-core line coverage from 78% to 94%
  fdars-core/src/depth.rs
  fdars-core/src/detrend.rs
  fdars-core/src/metric.rs
  fdars-core/src/seasonal.rs
  fdars-core/src/utility.rs
Due: rust

Add 14 documented examples covering the full fdars-core API
  fdars-core/Cargo.toml
  fdars-core/README.md
  fdars-core/examples/01_simulation/README.md
  fdars-core/examples/01_simulation/main.rs
  fdars-core/examples/02_functional_operations/README.md
  fdars-core/examples/02_functional_operations/main.rs
  fdars-core/examples/03_smoothing/README.md
  fdars-core/examples/03_smoothing/main.rs
  fdars-core/examples/04_basis_representation/README.md
  fdars-core/examples/04_basis_representation/main.rs
  fdars-core/examples/05_depth_measures/README.md
  fdars-core/examples/05_depth_measures/main.rs
  fdars-core/examples/06_distances_and_metrics/README.md
  fdars-core/examples/06_distances_and_metrics/main.rs
  fdars-core/examples/07_clustering/README.md
  fdars-core/examples/07_clustering/main.rs
  fdars-core/examples/08_regression/README.md
  fdars-core/examples/08_regression/main.rs
  fdars-core/examples/09_outlier_detection/README.md
  fdars-core/examples/09_outlier_detection/main.rs
  fdars-core/examples/10_seasonal_analysis/README.md
  fdars-core/examples/10_seasonal_analysis/main.rs
  fdars-core/examples/11_detrending/README.md
  fdars-core/examples/11_detrending/main.rs
  fdars-core/examples/12_streaming_depth/README.md
  fdars-core/examples/12_streaming_depth/main.rs
  fdars-core/examples/13_irregular_data/README.md
  fdars-core/examples/13_irregular_data/main.rs
  fdars-core/examples/14_complete_pipeline/README.md
  fdars-core/examples/14_complete_pipeline/main.rs
Due: rust

Consolidate two READMEs into single root README
  README.md
  fdars-core/Cargo.toml
  fdars-core/README.md
Due: rust

Reduce complexity across 8 fdars-core modules by extracting ~40 helpers
  fdars-core/src/basis.rs
  fdars-core/src/clustering.rs
  fdars-core/src/depth.rs
  fdars-core/src/detrend.rs
  fdars-core/src/outliers.rs
  fdars-core/src/regression.rs
  fdars-core/src/seasonal.rs
  fdars-core/src/smoothing.rs
Due: rust

Reduce complexity across 8 modules by extracting ~20 additional helpers
  fdars-core/src/clustering.rs
  fdars-core/src/detrend.rs
  fdars-core/src/fdata.rs
  fdars-core/src/irreg_fdata.rs
  fdars-core/src/metric.rs
  fdars-core/src/seasonal.rs
  fdars-core/src/smoothing.rs
  fdars-core/src/utility.rs
Due: rust

Path conditions:
  rust: any of: fdars-core/
  python: any of: fdars-py/
  r: any of: fdars-r/
