Repository sipemu/fdars: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, r

Deploying to gh-pages from @ sipemu/fdars@598ab5e40e4c8a4c72dad46bad50f0b22c436fbd 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@6c0fdbb14d949efa0f1e6c00ab45adc6192ee766 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Fix CI workflows: add unused_imports allowance and bundle fdars-core for R package
  .github/workflows/pkgdown.yaml
  .github/workflows/python-ci.yml
  .github/workflows/r.yml
Due: none

Fix Python linting issues for Ruff compliance
  fdars-py/python/fdapy/__init__.py
  fdars-py/python/fdapy/basis.py
  fdars-py/python/fdapy/clustering.py
  fdars-py/python/fdapy/depth.py
  fdars-py/python/fdapy/detrend.py
  fdars-py/python/fdapy/fdata.py
  fdars-py/python/fdapy/metric.py
  fdars-py/python/fdapy/outliers.py
  fdars-py/python/fdapy/regression.py
  fdars-py/python/fdapy/seasonal.py
  fdars-py/python/fdapy/smoothing.py
  fdars-py/python/fdapy/utility.py
Due: python

Deploying to gh-pages from @ sipemu/fdars@35ff3950b6e4869fb7fc9f829a31ae6fecc771b3 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@fba7cc133b7e07465bbf0dc46eb5f5350cdff8c9 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Fix CI: ruff format, config deprecation, and flaky R test
  fdars-py/pyproject.toml
  fdars-py/python/fdapy/fdata.py
  fdars-r/tests/testthat/test-validation-depth.R
Due: python, r

Deploying to gh-pages from @ sipemu/fdars@bf4e497ae453d4659418154eb1b4dcf97c6a99e3 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Add unit tests to basis, clustering, and regression modules
  fdars-core/src/basis.rs
  fdars-core/src/clustering.rs
  fdars-core/src/regression.rs
Due: rust

Deploying to gh-pages from @ sipemu/fdars@83ef195eff09573f767a7b8a60931c05e2b0fa0b 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Add comprehensive test coverage to fdars-core modules
  fdars-core/src/depth.rs
  fdars-core/src/fdata.rs
  fdars-core/src/metric.rs
  fdars-core/src/outliers.rs
  fdars-core/src/smoothing.rs
  fdars-core/src/utility.rs
Due: rust

Add comprehensive Python test coverage for fdapy
  fdars-py/tests/conftest.py
  fdars-py/tests/test_basis.py
  fdars-py/tests/test_clustering.py
  fdars-py/tests/test_outliers.py
  fdars-py/tests/test_regression.py
  fdars-py/tests/test_smoothing.py
Due: python

Add R test coverage for tests.R and outliers.R
  fdars-r/tests/testthat/test-outliers.R
  fdars-r/tests/testthat/test-tests.R
Due: r

Fix clippy warnings and formatting issues
  fdars-core/src/basis.rs
  fdars-core/src/clustering.rs
  fdars-core/src/depth.rs
  fdars-core/src/detrend.rs
  fdars-core/src/fdata.rs
  fdars-core/src/metric.rs
  fdars-core/src/outliers.rs
  fdars-core/src/regression.rs
  fdars-core/src/seasonal.rs
  fdars-core/src/smoothing.rs
  fdars-core/src/utility.rs
Due: rust

Deploying to gh-pages from @ sipemu/fdars@52db77d3bea6552f3a7e1d0b68b9cf8a146a2662 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@a0bcc36b253ccd86cc88330532bb834ad3516d94 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Allow clippy::type_complexity in Python CI
  .github/workflows/python-ci.yml
Due: none

Deploying to gh-pages from @ sipemu/fdars@f62823c1ad058215e078a40281ffdea824e1929e 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Fix Python test failures and basis_to_fdata_1d parameter order
  fdars-py/python/fdapy/outliers.py
  fdars-py/python/fdapy/regression.py
  fdars-py/src/basis.rs
  fdars-py/tests/test_outliers.py
Due: python

Relax basis roundtrip test threshold for B-spline approximation
  fdars-py/tests/test_basis.py
Due: python

Deploying to gh-pages from @ sipemu/fdars@eb00cc9a888a318e8421b913fdcef447fe33e59d 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@ce33a9885695fdefd5ab79fe311e9ce9f5b0fcfa 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Fix flaky R tests for outliers.lrt and fmean.test.fdata
  fdars-r/tests/testthat/test-outliers.R
  fdars-r/tests/testthat/test-tests.R
Due: r

Deploying to gh-pages from @ sipemu/fdars@e422904989d9fefc23212c6f20dd17f38e98fb4a 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@8352cb647b1b42d1b33bc295a09dbeaf77e467b4 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Make fmean.test.fdata test more robust with skip condition
  fdars-r/tests/testthat/test-tests.R
Due: r

Deploying to gh-pages from @ sipemu/fdars@59c540d6dcb7dc853b8b969f3af56e3d75ac2663 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Add seasonal basis comparison script (Fourier vs P-splines)
  fdars-r/scripts/seasonal_basis_comparison.R
Due: r

Add seasonal basis comparison visualization
  fdars-r/scripts/seasonal_basis_comparison.pdf
Due: r

Fix GitHub installation by using git dependency for fdars-core
  Cargo.toml
  fdars-r/src/rust/Cargo.toml
Due: r

Fix AIC difference plot label interpretation
  fdars-r/scripts/seasonal_basis_comparison.R
  fdars-r/scripts/seasonal_basis_comparison.pdf
Due: r

Deploying to gh-pages from @ sipemu/fdars@c95a330e6780cfd2dcbc2be3bc523e05a9c2b7f4 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@22c5426e261bed9b148124010759878780f2b018 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Add seasonality detection method comparison script
  fdars-r/scripts/seasonality_detection_comparison.R
  fdars-r/scripts/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonality_detection_details.pdf
Due: r

Deploying to gh-pages from @ sipemu/fdars@217b255cb2030abb5a4fc5c719c1bf9772b06148 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Update seasonality detection comparison with ggplot2 and PR curves
  fdars-r/Rplots.pdf
  fdars-r/scripts/seasonality_detection_comparison.R
  fdars-r/scripts/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonality_detection_details.pdf
Due: r

Remove spurious Rplots.pdf
  fdars-r/Rplots.pdf
Due: r

Deploying to gh-pages from @ sipemu/fdars@0e4be7f987fceff2400f6849a77f972f32230fcf 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Add seasonality detection study with non-linear trend
  fdars-r/Rplots.pdf
  fdars-r/scripts/seasonality_detection_trend_comparison.pdf
  fdars-r/scripts/seasonality_detection_trend_heatmaps.pdf
  fdars-r/scripts/seasonality_detection_trend_pr.pdf
  fdars-r/scripts/seasonality_detection_with_trend.R
Due: r

Path conditions:
  rust: any of: fdars-core/
  python: any of: fdars-py/
  r: any of: fdars-r/
