Repository sipemu/fdars: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, r

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
    patch:
      default:
        target: 50%

flags:
  rust:
    paths:
      - fdars-core/
    carryforward: true
  python:
    paths:
      - fdars-py/
    carryforward: true
  r:
    paths:
      - fdars-r/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

Remove Rplots.pdf and add to gitignore
  fdars-r/.gitignore
  fdars-r/Rplots.pdf
Due: r

Deploying to gh-pages from @ sipemu/fdars@4d7d9d47b1a911e37107590327827769570da085 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Fix detection thresholds and add false positive rate reporting
  fdars-r/scripts/seasonality_detection_comparison.R
  fdars-r/scripts/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonality_detection_details.pdf
  fdars-r/scripts/seasonality_detection_trend_comparison.pdf
  fdars-r/scripts/seasonality_detection_trend_heatmaps.pdf
  fdars-r/scripts/seasonality_detection_trend_pr.pdf
  fdars-r/scripts/seasonality_detection_with_trend.R
Due: r

Deploying to gh-pages from @ sipemu/fdars@c67406e7f5c47dfd71f086ab9352e39c257f8d5c 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@08b9947abf99ad86e9faf47068094e37ffd63df9 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Add trend types study and fix Basis Auto false positive issue
  fdars-r/scripts/seasonality_detection_comparison.R
  fdars-r/scripts/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonality_detection_details.pdf
  fdars-r/scripts/seasonality_detection_trend_types.R
  fdars-r/scripts/seasonality_detection_trend_types_examples.pdf
  fdars-r/scripts/seasonality_detection_trend_types_f1.pdf
  fdars-r/scripts/seasonality_detection_trend_types_fpr.pdf
  fdars-r/scripts/seasonality_detection_trend_types_heatmap.pdf
  fdars-r/scripts/seasonality_detection_with_trend.R
Due: r

Fix period parameter bug in seasonal_strength methods
  fdars-r/scripts/seasonality_detection_comparison.R
  fdars-r/scripts/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonality_detection_details.pdf
  fdars-r/scripts/seasonality_detection_trend_types.R
  fdars-r/scripts/seasonality_detection_with_trend.R
Due: r

Add comprehensive documentation for seasonality detection methods
  fdars-r/scripts/seasonality_detection_methods.md
Due: r

Deploying to gh-pages from @ sipemu/fdars@0bb0bee28bb899412447f143f2eb31a4252e335a 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@ea25ce62c4baa52219a9699bf8fccb782c636f3c 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Add compiled PDF of seasonality detection methods documentation
  fdars-r/scripts/seasonality_detection_methods.pdf
Due: r

Deploying to gh-pages from @ sipemu/fdars@15ef497a4db4a0c69b99da8165f9b2cce4df9eca 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@cf603a2fe0f06dfc79bcb0a2e9f19ee10e6726d9 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@9c9e256505323a9051341beb6a294817d2736b08 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@40478c1937b7fb46f4c4da99375cea4830b6016d 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@58bdca2be259d65be087d771c5f848e7d1a130ec 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Reorganize seasonal simulation files and add Quarto report
  fdars-r/scripts/seasonal_simulation/seasonal_basis_comparison.R
  fdars-r/scripts/seasonal_simulation/seasonal_basis_comparison.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_comparison.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_details.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_methods.md
  fdars-r/scripts/seasonal_simulation/seasonality_detection_methods.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_comparison.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_heatmaps.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_pr.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_types.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_types_examples.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_types_f1.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_types_fpr.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_types_heatmap.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_with_trend.R
Due: r

Deploying to gh-pages from @ sipemu/fdars@d0dd3c1786ff7ac08c1728c2dc0479c2d449cc2e 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Remove Basis Auto method and add README for seasonal simulation
  fdars-r/scripts/seasonal_simulation/README.md
  fdars-r/scripts/seasonal_simulation/seasonality_detection_comparison.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_methods.md
  fdars-r/scripts/seasonal_simulation/seasonality_detection_methods.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/scripts/seasonal_simulation/seasonality_detection_with_trend.R
Due: r

Add period parameter requirements section to README
  fdars-r/scripts/seasonal_simulation/README.md
Due: r

Deploying to gh-pages from @ sipemu/fdars@d623043e6c61c41e988681e5900dc7ada144664d 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@19c72d2fce6f9b2786f070d9825cc21f51b43599 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Reorganize seasonal simulation: add plots folder and ggdist
  fdars-r/scripts/seasonal_simulation/README.md
  fdars-r/scripts/seasonal_simulation/plots/seasonal_basis_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_details.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_heatmaps.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_pr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_examples.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_f1.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_fpr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_heatmap.pdf
  fdars-r/scripts/seasonal_simulation/seasonal_basis_comparison.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_comparison.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_methods.md
  fdars-r/scripts/seasonal_simulation/seasonality_detection_methods.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
  fdars-r/scripts/seasonal_simulation/seasonality_detection_trend_types.R
  fdars-r/scripts/seasonal_simulation/seasonality_detection_with_trend.R
Due: r

Recompile report with pdflatex engine
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Regenerate plots with ggdist and increase figure sizes
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_details.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Set figures to full text width (7in) in report
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@1bf7b05d9cf4758653a628cc617f5265e1da30c4 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Regenerate all plots and fix figure captions
  fdars-r/scripts/seasonal_simulation/plots/seasonal_basis_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_comparison.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_heatmaps.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_pr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_examples.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_f1.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_fpr.pdf
  fdars-r/scripts/seasonal_simulation/plots/seasonality_detection_trend_types_heatmap.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@e166258cb14e3b8ae9dcb77406fcaf96ebefb63f 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Remove crossref labels to fix ?(caption) issue
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@47ade379d710ab36d71a645b91c6a68a351778b7 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Add executive summary and recommendations to report
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.pdf
  fdars-r/scripts/seasonal_simulation/seasonality_detection_report.qmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@9ace535d593b1dc13736073d709f580ac4131dc1 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Update README with summary and recommendations
  fdars-r/scripts/seasonal_simulation/README.md
Due: r

Deploying to gh-pages from @ sipemu/fdars@efdf4d08963a8a81cde02de4a8242c42b2ac8443 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@86e8d1348e46aac0673f9322869607a6d1b4e012 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@e700a3f4562f3b38a9b71c403b323314a0396cb7 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  pkgdown.yml
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  search.json
Due: none

Add irregular functional data support and simulation toolbox
  fdars-core/src/irreg_fdata.rs
  fdars-core/src/lib.rs
  fdars-core/src/simulation.rs
  fdars-r/NAMESPACE
  fdars-r/R/irregFdata.R
  fdars-r/R/simulation.R
  fdars-r/_pkgdown.yml
  fdars-r/src/rust/Cargo.toml
  fdars-r/src/rust/src/lib.rs
  fdars-r/tests/testthat/test-irregFdata.R
  fdars-r/tests/testthat/test-simulation.R
  fdars-r/vignettes/irregular-sampling.Rmd
  fdars-r/vignettes/simulation-toolbox.Rmd
Due: rust, r

Fix prob_edges function in vignette to avoid negative values
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Apply cargo fmt to Rust sources
  fdars-core/src/irreg_fdata.rs
  fdars-core/src/simulation.rs
Due: rust
