Repository sipemu/fdars: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python, r

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
    patch:
      default:
        target: 50%

flags:
  rust:
    paths:
      - fdars-core/
    carryforward: true
  python:
    paths:
      - fdars-py/
    carryforward: true
  r:
    paths:
      - fdars-r/
    carryforward: true

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

Fix vignettes to use ggplot2 instead of base R lines/legend
  fdars-r/vignettes/irregular-sampling.Rmd
  fdars-r/vignettes/simulation-toolbox.Rmd
Due: r

Fix clippy errors in new Rust modules
  fdars-core/src/irreg_fdata.rs
  fdars-core/src/simulation.rs
Due: rust

Escape brackets in doc comments for rustdoc
  fdars-core/src/irreg_fdata.rs
  fdars-core/src/simulation.rs
Due: rust

Fix remaining bracket escaping in doc comments
  fdars-core/src/irreg_fdata.rs
Due: rust

Add inherit.aes=FALSE to geom_line() calls in vignettes
  fdars-r/vignettes/irregular-sampling.Rmd
  fdars-r/vignettes/simulation-toolbox.Rmd
Due: r

Fix vignette function calls: use mean() S3 dispatch and correct make_gaussian_process args
  fdars-r/vignettes/irregular-sampling.Rmd
  fdars-r/vignettes/simulation-toolbox.Rmd
Due: r

Add basis representation section to irregular-sampling vignette
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Convert all vignette plots to ggplot2, fix pspline NA issue
  fdars-r/vignettes/irregular-sampling.Rmd
  fdars-r/vignettes/simulation-toolbox.Rmd
Due: r

Make vignette chunks self-contained with explicit seeds
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Use fixed lambda for pspline to avoid GCV instability
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Fix pspline result access - use $fdata for autoplot
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Remove real-world use-cases section from irregular-sampling vignette
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Convert norm, int.simpson, metric.lp to S3 generics for fdata/irregFdata
  fdars-r/NAMESPACE
  fdars-r/R/fdata.R
  fdars-r/R/irregFdata.R
  fdars-r/R/metric.R
  fdars-r/R/utility.R
  fdars-r/_pkgdown.yml
  fdars-r/tests/testthat/test-irregFdata.R
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@76335e76824e70d310cc2840617dc0faee15fc54 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/irregular-sampling.html
  articles/irregular-sampling.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Deploying to gh-pages from @ sipemu/fdars@19e4c5b21f6fe4958ffa10310e8693e0da95811b 🚀
  CHANGELOG.html
  CHANGELOG.md
  articles/depth-functions.html
  articles/depth-functions.md
  articles/distance-metrics.html
  articles/distance-metrics.md
  articles/irregular-sampling.html
  articles/irregular-sampling.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  llms.txt
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/index.html
  reference/index.md
  reference/int.simpson.fdata.html
  reference/int.simpson.html
  reference/int.simpson.md
  reference/metric.lp.fdata.html
  reference/metric.lp.html
  reference/metric.lp.md
  reference/norm.fdata.html
  reference/norm.html
  reference/norm.md
  reference/normalize.html
  reference/normalize.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
  sitemap.xml
Due: none

Fix tests: update parameter name lp->p, skip L1 norm fda.usc comparison
  fdars-r/tests/testthat/test-validation-fdata.R
Due: r

Deploying to gh-pages from @ sipemu/fdars@fe592f93e3da370c633b0017d91d46b9ce3f184b 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Add fdata2basis support for irregular functional data
  fdars-r/R/fdata.R
  fdars-r/R/irregFdata.R
  fdars-r/src/rust/src/lib.rs
  fdars-r/tests/testthat/test-irregFdata.R
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Fix S3method registration for fdata2basis
  fdars-r/NAMESPACE
Due: r

Add @method tags for proper S3 method registration
  fdars-r/R/fdata.R
  fdars-r/R/irregFdata.R
Due: r

Fix pkgdown build and add comparison section to irregular-sampling vignette
  fdars-r/NAMESPACE
  fdars-r/R/basis.R
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@b8d445def7e0dc505e23be6e80ffcbf9fb8d69df 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/irregular-sampling.html
  articles/irregular-sampling.md
  articles/irregular-sampling_files/figure-html/compare-viz-1.png
  articles/irregular-sampling_files/figure-html/direct-basis-fitting-1.png
  articles/irregular-sampling_files/figure-html/direct-fourier-1.png
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  llms.txt
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/fdata2basis.2d.html
  reference/fdata2basis.2d.md
  reference/fdata2basis.cv.html
  reference/fdata2basis.cv.md
  reference/fdata2basis.fdata.html
  reference/fdata2basis.html
  reference/fdata2basis.irregFdata.html
  reference/fdata2basis.md
  reference/index.html
  reference/index.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Add standardize and scale_minmax functions for fdata and irregFdata
  fdars-r/NAMESPACE
  fdars-r/R/fdata.R
  fdars-r/R/irregFdata.R
  fdars-r/tests/testthat/test-irregFdata.R
Due: r

Add standardize and scale_minmax to pkgdown reference index
  fdars-r/_pkgdown.yml
Due: r

Deploying to gh-pages from @ sipemu/fdars@21ffd643c922b2dad30e71110eac0420e580a8f8 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  llms.txt
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/index.html
  reference/index.md
  reference/scale_minmax.fdata.html
  reference/scale_minmax.html
  reference/scale_minmax.irregFdata.html
  reference/scale_minmax.md
  reference/seasonal_strength.html
  reference/seasonal_strength.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  reference/standardize.fdata.html
  reference/standardize.html
  reference/standardize.irregFdata.html
  reference/standardize.md
  search.json
  sitemap.xml
Due: none

Improve mean.irregFdata with basis method (default)
  fdars-r/R/irregFdata.R
  fdars-r/vignettes/irregular-sampling.Rmd
Due: r

Deploying to gh-pages from @ sipemu/fdars@21ff2f93c733cbd180a17d37f0ea47ed51530aaa 🚀
  articles/depth-functions.html
  articles/depth-functions.md
  articles/irregular-sampling.html
  articles/irregular-sampling.md
  articles/irregular-sampling_files/figure-html/compare-mean-1.png
  articles/irregular-sampling_files/figure-html/mean-estimation-1.png
  articles/simulation-toolbox_files/figure-html/multivariate-plot-1.png
  articles/simulation-toolbox_files/figure-html/recipe-1.png
  pkgdown.yml
  reference/addError-2.png
  reference/addError-3.png
  reference/cluster.kmeans.html
  reference/cluster.kmeans.md
  reference/cluster.optim-1.png
  reference/cluster.optim.html
  reference/cluster.optim.md
  reference/depth.html
  reference/depth.md
  reference/mean.irregFdata-1.png
  reference/mean.irregFdata.html
  reference/mean.irregFdata.md
  reference/simFunData-1.png
  reference/simFunData-2.png
  reference/simMultiFunData-1.png
  search.json
Due: none

Add cargo publish to release workflow
  .github/workflows/release.yml
Due: none

Fix rust-toolchain action name
  .github/workflows/release.yml
Due: none

Refactor fdars-core: reduce complexity and eliminate code duplication
  fdars-core/src/clustering.rs
  fdars-core/src/fdata.rs
  fdars-core/src/helpers.rs
  fdars-core/src/lib.rs
Due: rust

Standardize R API naming conventions for consistency
  fdars-r/NAMESPACE
  fdars-r/R/covariance.R
  fdars-r/R/metric.R
  fdars-r/R/seasonal.R
  fdars-r/tests/testthat/test-covariance.R
  fdars-r/tests/testthat/test-seasonal.R
Due: r

Standardize parameter names in simulation.rs
  fdars-core/src/simulation.rs
Due: rust
